* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

a,
button,
input {
  font-family: inherit;
}

input {
  outline: none;
  border: none;
  font-size: 1rem;
}

.todo-container {
  margin: 0 auto;
  width: 25rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
  gap: 1px;
  box-shadow: 0 2.5px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid whitesmoke;
}

.todo-container input {
  background-color: transparent;
}

.todo-container .icon {
  padding: 0.4em;
  cursor: pointer;
  color: rgb(177, 177, 177);
}

.icon:hover {
  color: rgb(85, 85, 85);
}

.todo-container .title {
  display: flex;
  padding: 1rem 0;
  padding-left: 1rem;
  background-color: white;
  align-items: center;
}

#refresh-todo {
  padding: 0.4em;
  color: gray;
}

.todo-container .title p {
  flex-grow: 1;
  font-weight: 600;
  color: gray;
}

.add-todo {
  background-color: white;
  display: flex;
  flex-grow: 0;
  padding: 1em 0;
  padding-left: 1rem;
}

.add-todo input {
  flex-grow: 1;
  font-style: italic;
}

.add-todo .icon {
  font-size: 0.5rem;
  padding-right: 0.8rem;
}

.todo-items-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  background-color: white;
  padding-left: 1rem;
}

.todo-item .input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.todo-item .input-box input {
  height: 100%;
  flex-grow: 1;
}

.clear-completed-container {
  background-color: whitesmoke;
}

.clear-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  padding: 0.8em;
}

.clear-btn:hover {
  text-decoration: underline;
}
